@import url('http://fonts.cdnfonts.com/css/gotham');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* ALL COLORS */
    --theme-color: #FF4D00;
    --dark-color: #030B16;
    /* ALL FONTS */
    --primary-font: 'Gotham', sans-serif;
    --primary-font-black: 'Gotham Black', sans-serif;
    --primary-font-light: 'Gotham Light', sans-serif;
    --primary-font-thin: 'Gotham Thin', sans-serif;
    --primary-font-x-light: 'Gotham XLight', sans-serif;
    --primary-font-ultra: 'Gotham Ultra', sans-serif;
    --primary-font-book: 'Gotham Book', sans-serif;
}
*,
body {
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    font-family: var(--primary-font) !important;
}
.dark_color{
    color: var(--dark-color);
}
.primary_color{
    color: var(--theme-color);
}